@model JalgrattaeksamMVC.Models.Eksam

@{
    ViewData["Title"] = "Registreeri";
}

<h1>Registreeri</h1>

<h4>Eksam</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Registreeri">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Eesnimi" class="control-label"></label>
                <input asp-for="Eesnimi" class="form-control" />
                <span asp-validation-for="Eesnimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Perenimi" class="control-label"></label>
                <input asp-for="Perenimi" class="form-control" />
                <span asp-validation-for="Perenimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Registreeri" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
